.section {
  color: white;
  background-color: $color-blue;
  padding: 16px 0;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-between;
}

.listItem {
  flex-basis: 10%;
}

@media only screen and (min-width: 768px) {
  .wrap {
    flex-wrap: nowrap;
  }

  .list {
    flex-wrap: nowrap;
    flex-basis: 80%;
  }

  .listItem {
    flex: 1;
  }
}