.section {
  padding: 20px 0;
}

.subHeading {
  display: block;
  margin-bottom: 30px;
}

.definitionList {
  margin-bottom: 20px;
}

.itemDescription {
  padding-left: 20px;
}

@media only screen and (min-width: 1200px) {
  .section {
    max-width: 740px;
  }
}