// *********
// Variables
// *********

// Colors
$color-body:       #000;
$color-blue:       #3b4f68;

/* #################################### */

// Fonts
$font-body:           Arial, sans-serif;
$font-heading:        Arial, sans-serif;

/* #################################### */

// Body styles mobile
$body-font-size-mobile:        16px;
$body-line-height-mobile:      1.5;
$body-letter-spacing-mobile:   normal;
$body-font-weight-mobile:      normal;

// H1 styles mobile
$h1-font-size-mobile:          2.5rem;
$h1-line-height-mobile:        1.5;
$h1-letter-spacing-mobile:     0;
$h1-font-weight-mobile:        bold;

// H2 styles mobile
$h2-font-size-mobile:          1.75rem;
$h2-line-height-mobile:        1.5;
$h2-letter-spacing-mobile:     0;
$h2-font-weight-mobile:        normal;

// H3 styles mobile
$h3-font-size-mobile:          1.5rem;
$h3-line-height-mobile:        1.5;
$h3-letter-spacing-mobile:     0;
$h3-font-weight-mobile:        normal;

// H4 styles mobile
$h4-font-size-mobile:          1.25rem;
$h4-line-height-mobile:        1.5;
$h4-letter-spacing-mobile:     0;
$h4-font-weight-mobile:        normal;

// H5 styles mobile
$h5-font-size-mobile:          1rem;
$h5-line-height-mobile:        1.5;
$h5-letter-spacing-mobile:     0;
$h5-font-weight-mobile:        bold;

// H6 styles mobile
$h6-font-size-mobile:          1rem;
$h6-line-height-mobile:        1;
$h6-letter-spacing-mobile:     0;
$h6-font-weight-mobile:        normal;


// Body styles desktop
$body-font-size:        16px;
$body-line-height:      1.5;
$body-letter-spacing:   normal;
$body-font-weight:      normal;

// H1 styles desktop
$h1-font-size:          2.5rem;
$h1-line-height:        1.5;
$h1-letter-spacing:     0;
$h1-font-weight:        bold;

// H2 styles desktop
$h2-font-size:          2rem;
$h2-line-height:        1.5;
$h2-letter-spacing:     0;
$h2-font-weight:        normal;

// H3 styles desktop
$h3-font-size:          1.75rem;
$h3-line-height:        1.5;
$h3-letter-spacing:     0;
$h3-font-weight:        normal;

// H4 styles desktop
$h4-font-size:          1.5rem;
$h4-line-height:        1.5;
$h4-letter-spacing:     0;
$h4-font-weight:        normal;

// H5 styles desktop
$h5-font-size:          1.25rem;
$h5-line-height:        1.5;
$h5-letter-spacing:     0;
$h5-font-weight:        normal;

// H6 styles desktop
$h6-font-size:          1rem;
$h6-line-height:        1;
$h6-letter-spacing:     0;
$h6-font-weight:        normal;