name: TypeScript - Integration Test

on: [pull_request]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [18.x]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Test with Headless
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          headless: true
          build: yarn build
          start: yarn start
          command: yarn test:integration
